@import 'variables';

form {
    input, textarea {
        box-sizing: border-box;
        padding: 8px 12px;
        background-color: $white; 
        border: 2px solid $pink;
        color: $black;
        font-size: 20px;
        height: 45px;

        &::placeholder {
            color: $grey-placeholder;
        }

        &:focus {
            outline: none;
        }
    }

    textarea {
        resize: none;
        height: 200px;
        font-size: 16px;
    }
}