// ----------------------------
// ---------- COLORS ----------
// ----------------------------

$black: #000000;
$white: #ffffff;

$grey-light: #e5e5e5;
$grey-placeholder: #cacaca;
$grey-shadow: $grey-light;

$pink: #ffafbd;

// ---------- cats ----------

$buttercup: #FFAFBD;
$minnie: #FECFEF;
$hazel: #FCB69F;

$oreo: #99D8F2;
$waffels: #A8EDEA;
$whiskers: #B1F4CF;
