
@import 'variables';

@import 'buttons';
@import 'fonts';
@import 'form';
@import 'helpers';
@import 'links';

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/img/background.jpg');
    min-height: 100%;
    position: absolute;
}

.page-enter-active, .page-leave-active {
    transition: opacity .5s
}

.page-enter, .page-leave-active {
    opacity: 0
}

main {
    width: 100%;
    display: block;

    section {
        min-height: 200px;
        margin: 116px auto 0;

        .content {
            box-sizing: border-box;
            display: block;
            width: 750px;
            padding: 10px;
            margin: 0 auto;
            position: relative;
        }
    }
}