
@import 'variables';

@import 'buttons';
@import 'fonts';
@import 'helpers';
@import 'links';

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/img/background.jpg');
}

.page-enter-active, .page-leave-active {
    transition: opacity .5s
}

.page-enter, .page-leave-active {
    opacity: 0
}

main {
    display: block;
    width: 750px;
    min-height: 200px;
    padding: 10px;
    padding-right: 100px;
    margin: 116px auto 0;
}