
@import 'variables';

@import 'buttons';
@import 'fonts';
@import 'helpers';
@import 'links';

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s
}

.page-enter, .page-leave-active {
  opacity: 0
}